@keyframes heartbeat {
    from {
        transform: scale(1);
    }
    50% {
        transform: scale(1.4);
    }
    to {
        transform: scale(1);
    }
}
.information-animation{
    animation: heartbeat 1.5s ease infinite;
            &:hover {
                animation-play-state: paused;
            }
}
.parallax-img-1{
    position: absolute;
    top: 29%;
    left: 5%;
}
.parallax-img-2{
    position: absolute;
    top: 26%;
    right: 0;
}