picture,
img {
    max-width: 100%;
    height: auto;
}
html{
    font-family: Museo Sans, Arial, Helvetica, sans-serif;
    font-weight: 300;
    color: #282828;
}
.container{
    max-width: 81.25vw;
    margin: 0 auto;
    .hamburger{
        display: none;
    }
    @media screen and (max-width: 1699px) {
        max-width: 91.25vw;
    }
    @media screen and (max-width: 1499px) {
        max-width: 96vw;
    }
    @media screen and (max-width: 1399px) {
        max-width: 99vw;
    }
}