.header{
    .top{
        padding: 2.84vh 0.78vw 0 0.78vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__oficial{
            display: flex;
            align-items: center;
            .logo{
                width: 14.583vw;
                img{
                    width: 100%;
                }
            }
            .slogan{
                width: 7.5vw;
                padding-left: 1.292vw;
                span{
                    font-size: 13px;
                    letter-spacing: 0.7px;
                    line-height: 18px;
                }
            }
        }
        &__adress{
            position: relative;
            .map{
                position: absolute;
                left: 30%;
                top: 89%;
                display: none;
            }
            font-size: 16px;
            letter-spacing: 0.8px;
            line-height: 18px; 
            p{
                margin: 0 0 16px 0;
            }
            .image{
                float: left;
                padding-right: 1.25vw;
                img{
                    box-shadow: 0 3px 20px rgba(68, 68, 68, 0.11);
                    border-radius: 100%;
                }
            }   
            span{
                font-weight: 700;
            }
            a{
                color: #ff6078;
                font-size: 12px;
                font-weight: 700;
                line-height: 0.01px;
                text-transform: uppercase;
                letter-spacing: 1.2px;
                text-decoration: none;
                border-bottom: 2px dotted;
                padding-bottom: 5px;
            }
        }
        &__contact{
            display: flex;
            flex-direction: column;
            .phone{
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                .text{
                    font-weight: 500;
                    p{
                        font-size: 12px;
                        margin-top: 0;
                        margin-bottom: 8px;
                        &:before{
                            content: url("../img/icons/dot.png");
                            vertical-align: middle;
                        }
                    }
                    a{
                        font-size: 24px;
                        line-height: 18px;
                        letter-spacing: 0.6px;
                        color: #282828;
                        text-decoration: none;
                    }
                }
            }
            .schedule{
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                .text{
                    display: flex;
                    font-size: 16px;
                    p{
                        margin-top: 10px;
                    }
                    span{
                        font-weight: 700;
                        margin: 10px 0 0 5px;
                    }
                }
            }
            .contact-icon{
                padding-right: 0.625vw;
                img{
                    box-shadow: 0 3px 20px rgba(68, 68, 68, 0.11);
                    background-color: #ffffff;
                    border-radius: 100%;
                    padding: 10px;
                }
            }
        }
        &__sign-up{
            .button{
                width: 229px;
                height: 62px;
                border-radius: 30px;
                background-color: #fefcfb;
                border: none;
                -webkit-box-shadow: 0px 2px 0px 1px rgba(235,234,234,1);
                -moz-box-shadow: 0px 2px 0px 1px rgba(235,234,234,1);
                a{
                    color: #282828;
                    text-decoration: none;
                    font-weight: 500;
                    font-size: 15px;
                    line-height: 24px;
                    letter-spacing: 0.75px;
                    vertical-align: top;
                    padding-left: 10px;
                }
            }
           
        }

    }
    &__menu{
        border-radius: 5px;
        background-color: #ffffff;
        -webkit-box-shadow: 0px 27px 0px -19px rgba(255,255,255,0.5);
        -moz-box-shadow: 0px 27px 0px -19px rgba(255,255,255,0.5);
        
        .menu{
            list-style-type: none;
            display: flex;
            justify-content: space-between;
            padding: 23px 36px 23px 36px;
            .menu_item{
                padding: 0 8px 0 8px;
            }
            .menu_link{
                color: #282828;
                text-decoration: none;
                font-size: 15px;
                letter-spacing: 0.75px;
               
            }
        }
        
    }
    @media screen and (max-width: 1350px) {
        .menu_item{
            text-align: center;
        };
    }
    @media screen and (max-width: 1100px) {
        .slogan{
            display: none;
        };
        
    }
    @media screen and (max-width: 992px) {
        .top__adress{
            display: none;
        };
        .schedule{
                display: none;
        };
        .top__oficial{
            .logo{
                width: 236px;
                padding-right: 10px;
            }
        } 
        .header__menu{
            
            .menu{
                margin: 0;
                position: fixed;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                top: 0;
                left: -100%;
                width: 50%;
                height: 100vh;
                padding: 20px 15px;
                background-color: rgba(250, 250, 250, 0.9);
                transition: 0.6s all;
                z-index: 10;
                &_active{
                    left: 0
                }
                &_item{
                    padding-right: 0;
                    margin: 10px 0;
                }
                &_link{
                    font-size: 20px;
                    font-weight: 500;
                }
                
            }
            
            .hamburger{
                display: block;
                position: absolute;
                right: 25px;
                top: 20%;
                transform: translateY(-50%);
                width: 26px;
                height: 8px;
                background-color: white;
                padding: 9px 7px;
                border-radius: 2px;
                span{
                    display: block;
                    height: 2px;
                    width: 100%;
                    background-color: #ff6078;
                    margin-bottom: 2px;
                    transition: 0.5s all;
                }
                &_active{
                    span{
                        margin-bottom: -2px;
                        &:nth-child(1){
                            transform: translateY(3px) rotate(-45deg)
                        }
                        &:nth-child(2){
                            display: none;
                        }
                        &:nth-child(3){
                            transform: translateY(3px) rotate(45deg);
                        }
                    }
                }
            }

        }
        
        
    }
    @media screen and (max-width: 768px) {
        .top{
            justify-content: space-around;
        }
        .top__contact{
            display: none;
        };
        
    }
    @media screen and (max-width: 576px) {
        .header__menu{
            .menu{
                width: 75%;
            }
        }
    }
    @media screen and (max-width: 576px) {
        .top{
            display: none;
        }
        .header__menu{
            .hamburger{
                top: 5%;
            }
        }
    }
 
}