.overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0,0,0, .56);
}
.modal{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 738px;
    min-height: 669px;
    border-radius: 40px;
    background: url('../img/popup-bg.png') center no-repeat;
    padding: 38px 40px 40px 40p;
    .book{
        position: absolute;
        z-index: -1;
        top: 30%;
        transform: translate(-41%, 0);
    }
    .feed-form{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 501px;
    }
    &__close {
        position: absolute;
        top: 48px;
        right: 41px;
        font-size: 20px;
        line-height: 21px;
        cursor: pointer;
        opacity: 0.5;
    }
    &__subtitle {
        color: #282828;
        font-size: 36px;
        font-weight: 300;
        text-align: center;
        padding-top: 75px;
        span{
            font-weight: 700;
        }
    }
    &__descr {
        color: #282828;
        font-size: 16px;
        font-weight: 300;
        text-align: center;
        padding: 22px 106px 36px 106px;
    }
    &_mini {
        width: 524px;
        min-height: 337px;
        background: url('../img/popup-bg-mini.png') center no-repeat;
        .ok{
            position: absolute;
            transform: translate(100%, 25%);
        }
        .modal__subtitle{
            padding-top: 194px;
            font-size: 30px;
        }
    }
    .error {
        border: 1px solid red;
    }
    label.error {
        border: none;
        text-align: center;
        margin-bottom: 5px;
    }
    input {
        width: 408px;
        height: 81px;
        border-radius: 40px;
        border: 1px solid #fbeeef;
        background-color: #ffffff;
        margin-bottom: 16px;
        border: none;
        padding: 0 46px;
        color: #989797;
        font-size: 18px;
        font-weight: 300;
        line-height: 24px;
        letter-spacing: 0.45px;
    }
    select {
        width: 500px;
        height: 81px;
        border-radius: 40px;
        border: 1px solid #fbeeef;
       
        margin-bottom: 16px;
        border: none;
        padding: 0 46px;
        color: #989797;
        font-size: 18px;
        font-weight: 300;
        line-height: 24px;
        letter-spacing: 0.45px;

        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        appearance: none;
        background: url('../img/icons/arrow_down.png') no-repeat right 34px center;
        background-color: #ffffff;
        outline: 0;
        background-size: 13px;
    }
    
    input:active, :hover, :focus {
        outline: 0;
    }
    select:active, :hover, :focus {
        outline: 0;
    }
    &__button{
        box-shadow: 0 7px 27px rgba(241, 131, 131, 0.57);
        width: 500px;
        height: 76px;
        border-radius: 38px;
        
        button{
            width: 500px;
            height: 76px;
            border-radius: 38px;
            background-image: linear-gradient(to top, #ee858c 0%, #fabcbc 98%, #fabcbc 100%);
            border: none;
            -webkit-box-shadow: 0px 4px 0px 0px rgba(215,116,122,1);
            -moz-box-shadow: 0px 4px 0px 0px rgba(215,116,122,1);
            position: relative;
            .gradient{
                width: 491px;
                height: 76px;
                border-radius: 38px;
                background-image: linear-gradient(to top, rgba(241, 153, 157, 0.47) 0%, rgba(252, 182, 182, 0.99) 98%, #fcb6b6 100%);
                display: flex;
                align-items: center;
                a{
                    text-shadow: 0 1px 5px rgba(210, 110, 116, 0.49);
                    color: #ffffff;
                    font-weight: 700;
                    font-size: 14px;
                    text-transform: uppercase;
                    letter-spacing: 1.68px;
                    text-decoration: none;
                    padding-left: 73px;
                }
                img{
                    position: absolute;
                    right: 0;
                    transform: translate(12%, 0);
                }
            }
        }
    }
    
}

#consultation, #thanks {
    display: none;
}
