.promo{
    // max-height: 100vh;
    // min-height: auto;
    min-height: 100vh;
    // padding-top: 2.84vh;
    background: url('../img/background.png') top center no-repeat;
    background-color: white;
    // position: relative;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
    &__body{
        display: flex;
        // justify-content: center;
        align-items: flex-end;
        // position: relative;
        padding-top: 9.4vh;
        .info{
            padding-left: 5.9375vw;
            &__header{
                h1{
                    font-size: 48px;
                    line-height: 55px;
                    font-weight: 300;
                    line-height: 0.4;
                }
                .bold{
                    font-weight: 700;
                }
            }
            &__descript{
                padding-top: 3.323vh;
                padding-bottom: 3vh;;
                ul{
                    font-size: 18px;
                    line-height: 36px;
                    /* Text style for "депиляция" */
                    letter-spacing: 0.45px;
                }
            }
            &__button{
                box-shadow: 0 7px 27px rgba(241, 131, 131, 0.57);
                max-width: 379px;
                height: 86px;
                border-radius: 43px;
                
                button{
                    max-width: 379px;
                    height: 86px;
                    border-radius: 43px;
                    background-image: linear-gradient(to top, #ee858c 0%, #fabcbc 98%, #fabcbc 100%);
                    border: none;
                    -webkit-box-shadow: 0px 4px 0px 0px rgba(215,116,122,1);
                    -moz-box-shadow: 0px 4px 0px 0px rgba(215,116,122,1);
                    position: relative;
                    .gradient{
                        width: 371px;
                        height: 79px;
                        border-radius: 39px;
                        background-image: linear-gradient(to top, rgba(241, 153, 157, 0.47) 0%, rgba(252, 182, 182, 0.99) 98%, #fcb6b6 100%);
                        display: flex;
                        align-items: center;
                        a{
                            text-shadow: 0 1px 5px rgba(210, 110, 116, 0.49);
                            color: #ffffff;
                            font-weight: 700;
                            font-size: 14px;
                            text-transform: uppercase;
                            letter-spacing: 1.68px;
                            text-decoration: none;
                            padding-left: 41px;
                        }
                        img{
                            position: absolute;
                            transform: translate(83%, 0);
                        }
                    }
                }
            }

        }
        .cart{
            position: relative;
            transform: translate(-45%, 0);
            .text-information{
                width: 206px;
                height: 240px;
                background: url('../img/text-information.png') top center no-repeat;
                position: absolute;
                bottom: 20px;
                left: 29%;
                display: none;
            }
            .information{
                position: absolute;
                bottom: 0;
                right: 10%;
                
            }
        } 
        @media screen and (max-width: 992px){
            padding-top: 5.4vh;
            flex-direction: column;
            align-items: flex-start;
            .cart{
                transform: translate(30%, 8%);
            }
            .info__header{
                h1{
                    font-size: 38px;
                    line-height: 0.9;
                }
            }
        }
        @media screen and (max-width: 500px){
            .info__button{
                button{
                    .gradient{
                        img{
                            display: none;
                        }
                        a{
                            padding-left: 0px;
                            margin: auto;
                        }
                    }
                }
                
            }
        }

    }
  
    &__imge{
        z-index: 9;
        position: absolute;
        right: 0;
        bottom: 0;
        width: 45.68vw;
        img{
            width: 100%;
        }
    }
    &__wave{
        // position: absolute;
        // bottom: 0;
    }
    
}